//Font-families
$montserrat-light: Montserrat-light,  sans-serif;
$montserrat-regular: Montserrat-regular, sans-serif;
$montserrat-medium: Montserrat-medium, sans-serif;
$raleway-thin: Raleway-thin, sans-serif;
$raleway-light: Raleway-light, sans-serif;
$raleway-regular: Raleway-regular, sans-serif;

//colors
$white: #fff;
$bege: #feffed;
$bege-inspiration: #ffdbc8;
$brown-header: #481400;
$brown: #514240;
$light-brown: #9f8d83;
$rose-form: #ebe7e5;
