@font-face {
    @include font-face (Montserrat-light, "../scss/fonts/Montserrat/montserrat-light-webfont", 300); 
}
@font-face {
    @include font-face (Raleway-regular, "../scss/fonts/Raleway/raleway-regular-webfont", 400); 
}
@font-face {
    @include font-face (Raleway-light, "../scss/fonts/Raleway/raleway-light-webfont", 300); 
}

.inspiration {
        background: $light-brown;
        padding: 44px 20px 0;
        margin: 0 auto;
        width: 100%;
.inspiration.container {
       width:  1340px;
    }     
.section-name { 
        font-family: $montserrat-light;
        font-size: 30px;
        position: relative;
        top: 65%;
        left: -15px;

    }
.section-name__text {
        color: $white;
        transform: rotate(-90deg);
    }
.inspiration-photo {
        padding-left: 24px;
        margin-bottom: 15px;
}
.bloquote {
        padding-left: 77px;
        padding-top: 80px; 
        color: $bege-inspiration;
        font-size: 24px; 
.bloquete__text {
        font-family: $raleway-regular;
        margin-bottom: 40px;
        line-height: 32px;
        }
.bloquote__author {
        font-family: $raleway-light; 
        }  
}
}
