.project {
    position: relative;
    & .col-3, & .col-4, & .col-6 {
        padding: 0;
    }
    &-row2 {
        margin-bottom: 98px;
        margin-top: -3px;
    }
    &-row1 {
        margin-top: 98px;
    }
    &-wrapper {
       display: flex;
       flex-direction: column;
        justify-content: flex-start;
        overflow: hidden;
    }
    &__img {
         box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        transform: scale(1.02);
        &:hover {
             transform: scale(1.08);
            filter: brightness(120%);
        
        }
    
 }
        .section-name__text {
            left: -15px;
            color: $brown;
          font-family: $montserrat-light;
        font-size: 30px;
        position: relative;
        }
      
    

    }
    


.wrapper {
    overflow: hidden;
}